PORT=3000
SESSION_SECRET=super-secret-change-me
APP_DATABASE_URL=postgresql://postgres:postgres@localhost:5432/db_wizard

SEED_DEMO_USERNAME=admin
SEED_DEMO_PASSWORD=admin123

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_CALLBACK_URL=http://localhost:3000/auth/github/callback
AZURE_CLIENT_ID=
AZURE_CLIENT_SECRET=
AZURE_CALLBACK_URL=http://localhost:3000/auth/azure/callback
AZURE_TENANT=common
